* {
   font-family: Helvetica, Arial;
}

body { padding-left: 2px; padding-right: 2px; background: #ededed;}


.media { border: 1px solid #dddddd; background: #fbfbfb; border-radius: 6px; padding-left: 3px; }

#access-token {
   width: 200px;
}

a, a:visited {
   color: #25aae1;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

li {
   list-style-type: none;
}

.check {
   color: #25aae1;
   margin-right: 4px;
}

#empowered {
   margin-left: 14px;
   width: 500px;
}

#auth {
   width: 275px;
}
