<!DOCTYPE html>
<html>
 <head>
  <title>Singly Django Example</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

  <script>
   var accessToken = '{{ user_profile.access_token }}';
  </script>

  <script src="/static/app.js"></script>

  <link rel="stylesheet" href="/static/style.css" />
 </head>

 <body>
    <h1><a href="/">Friends</a></h1>
    <p>Register with one or more of these services:</p>


    <ul id="auth">
    {% for service in services %}
        <li>
            <a href="/authenticate/{{ service.lower }}">
                {% if service.lower in profiles %}
                    <span class="check">&#10003;</span>
                {% endif %}

                {{ service }}

            </a>
        </li>
    {% endfor %}
    </ul>
    <P>We DO NOT download or cache your social data!!</P>

    <FORM method="POST">

        <INPUT type="text" name="q">
        <BUTTON type="submit">Search</BUTTON>

    </FORM>


  </body>
</html>