{% extends 'base.html' %}

{% block content %}
    <h3>http://friends.hackwaw.com</h3>
    <h1><a href="/">Friends</a></h1>
    <p>Register with one or more of these services:</p>


    <ul id="auth">
    {% for service in services %}
        <li>
            <a href="/authenticate/{{ service.lower }}">
                {% if service.lower in profiles %}
                    <span class="check">&#10003;</span>
                {% endif %}

                {{ service }}

            </a>
        </li>
    {% endfor %}
    </ul>



    {% if request.user.is_authenticated %}

    Just type a name or surname of the person you are looking for!
    <FORM class="form-search" method="POST">

        <INPUT type="text" name="q">
        <BUTTON class="btn btn-success" type="submit">Search</BUTTON>



    </FORM>

    {% endif %}


    <P>Do NOT follow me on Twitter -> <A href="http://twitter.com/@83tb">@83tb</A></A>
{% endblock %}