{% extends 'base.html' %}



{% block content %}
<h1><a href="/">Friends</a></h1>

    <div>
        {% for entry in r %}

        {% if entry.thumbnail_url %}
        <IMG width='90px' SRC='{{ entry.thumbnail_url   }}'>
        {% endif %}

        {% if entry.services.twitter.thumbnail_url and not entry.thumbnail_url  %}
        <IMG width='50px' SRC='{{ entry.services.twitter.thumbnail_url   }}'>
        {% endif %}
        {{ entry }}
            <HR>
        {% endfor %}




    </div>





{% endblock %}
